# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/

#PhpStorm
/.idea
/DataBridge/.idea
/DataBridge/logsSQL
/DataBridge/sauvegarde
DataBridge/dump_database.sh
DataBridge/.my.cnf