/* Style de la page */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style pour le logo */
.logo-large {
    width: 200px; /* Ajustez cette valeur pour la taille souhaitée */
    height: auto;
}

/* Style pour l'image à droite */
.large-image {
    background-image: url('../images/imageIndex.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

/* Style général des boutons et champs de formulaire */
input.form-control {
    border-radius: 10px;
    padding: 10px;
}

button.btn {
    border-radius: 10px;
}

.text-bg-info {
    background-color: #17a2b8;
    color: white;
}

.is-invalid {
    border-color: red;
}

.text-danger {
    color: red;
}
.logo-size {
    width: 80px;
    height: 80px;
}
.margeTitre {
    margin-bottom: 40px;
}
.margeBtnSeConnecter {
    margin-top: 20px;
}
