.bordure {
    border: 3px solid #4CB0D5;
    border-radius: 10px;
}
.raduisInput {
    border-radius: 10px !important;
}
.fondGris{
    background-color: rgba(195, 195, 195, 0.22);
}
.raduisTitle {
    border-radius: 10px;
}
.center-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-size {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 11px;
}
.top-left-centered {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.marginTopDiv {
    margin-top: 20px;
}
.marginBottomDiv {
    margin-bottom: 5px;
}
.marginBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bordure-rouge {
    border: 3px solid red !important;
}

.text-danger {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

