/* Définition de la couleur de fond du body et de l'image d'arrière-plan */
body {
    background-image: url('../images/imageIndex.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Transition pour l'effet de survol sur les cartes */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* Personnalisation de l'image du logo */
.navbar-brand img {
    width: 50px;
    height: auto;
}

/* Footer centré et avec une couleur plus claire */
footer {
    margin-top: 20px;
    text-align: center;
    color: #6c757d;
}

/* Effet de transparence et de flou pour la navbar */
.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.2); /* Noir avec 20% d'opacité */
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optionnel : Bordure subtile */
}


/* Personnalisation de la sidebar */
.offcanvas-start {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.offcanvas-header {
    border-bottom: 1px solid #ffff;
}

.offcanvas-body {
    padding-top: 20px;
}

.offcanvas-body ul li a {
    color: #ecf0f1;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.offcanvas-body ul li a:hover {
    background-color: #34495e;
    border-radius: 4px;
}

.offcanvas-title {
    font-size: 1.5rem;
}
.btn-close {
    filter: invert(1);
}

/* Icône pour les sous-menus */
.submenu-icon {
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.submenu-icon.rotate {
    transform: rotate(90deg); /* Rotation de 90 degrés quand le sous-menu est ouvert */
}

/* Masquer les sous-menus par défaut */
.submenu {
    display: none;
    padding-left: 20px;
}

/* Rendre le bouton hamburger transparent */
.navbar-toggler {
    width: 50px; /* Largeur constante */
    height: 50px; /* Hauteur constante */
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprimer les bordures */
}





